@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Geologica', sans-serif;
}

body{
    padding-left: 30%;
    padding-right: 30%;

}

#title-padd{
    padding-top: 15%;
}

title{
    font-family: 'Geologica', sans-serif;
    font-weight: 900;
}